 ![png](Books-ERD.png)

In [12]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [10]:
from sqlalchemy import create_engine

In [16]:
connection = "mysql+pymysql://root:root@localhost/mydb"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/mydb)

In [20]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.book_id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.user_id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1